{
  "deepseek_v3": {
    "model_name": "deepseek-v3-250324",
    "token": "YOUR_TOKEN_HERE",
    "base_url": "https://ark.cn-beijing.volces.com/api/v3"
  },
  "deepseek_v3_2": {
    "model_name": "deepseek-v3-2-251201",
    "token": "YOUR_TOKEN_HERE",
    "base_url": "https://ark.cn-beijing.volces.com/api/v3"
  }
}
